<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Create New User</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<div>
    <h4 class="center-align">Create New User</h4>
    <div class="container row">
        <div class="col s3"></div>
        <div class="col s6">
            <form th:object="${user}" th:action="@{save}" method="post">
                <div class="input-field">
                    <label th:text="Name" th:for="name"></label>
                    <input type="text" class="validate" th:field="${user.name}" placeholder="Name">
                </div>
                <div class="input-field">
                    <label th:text="Email" th:for="Email"></label>
                    <input type="email" class="validate" th:field="${user.email}" placeholder="Email Address">
                </div>
                <div class="input-field">
                    <label th:text="Phone" th:for="Phone"></label>
                    <input type="text" class="validate" th:field="${user.phone}" placeholder="Phone Number">
                </div>
                <br>
                <a href="/" class="waves-effect waves-light btn accent-3">User List</a>
                <button class="right waves-effect waves-light red btn accent-3">Save new user</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>