<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<h4 class="center-align">Update user information</h4>
<div class="container row">
    <div class="col s3"></div>
    <div class="col s6">
        <form th:object="${user}" th:action="@{save}" method="post">
            <input type="hidden" th:field="${user.id}">
            <div class="input-field">
                <label th:text="Name" th:for="name"></label>
                <input type="text" th:field="${user.name}" placeholder="Name">
            </div>
            <div class="input-field">
                <label th:text="Email" th:for="Email"></label>
                <input type="email" th:field="${user.email}" placeholder="Email Address">
            </div>
            <div class="input-field">
                <label th:text="Phone" th:for="Phone"></label>
                <input type="text" th:field="${user.phone}" placeholder="Phone Number">
            </div>
            <a href="/" class=" waves-effect waves-light btn accent-3">User List</a>
            <a href="/add" class="waves-effect waves-light btn accent-3">Create New User</a>
            <button class="right waves-effect waves-light red btn accent-3">Update user</button>

        </form>
    </div>
</div>
</body>
</html>