<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>User Management with SpringBoot</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<div class="container">
    <h4 class="center-align">User Management</h4>
    <form th:action="@{search}">
        <input type="text" name="name" style="max-width: 300px">
        <button class="btn accent-3">Search</button>
    </form>
    <br/>
    <div class="row">
        <a href="/add" class=" waves-effect waves-light btn red accent-3" >Create New User</a>
        <table>
            <tr>
                <th>Name</th>
                <th>Email Address</th>
                <th>Phone Number</th>
                <th>Action</th>
            </tr>
            <tr th:each="user:${users}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.phone}"></td>
                <td>
                    <a th:href="@{/edit?id={id}(id=${user.id})}"
                       class="waves-effect waves-light btn red accent-3">Edit</a>
                    <a th:href="@{/delete?id={id}(id=${user.id})}"
                       class="waves-effect waves-light btn red purple accent-3">Delete</a>
                </td>
            </tr>
        </table>


    </div>
</div>
</body>
</html>